* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #0d0a05;
  color: #ffaa22;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  justify-content: center;
}

.container {
  max-width: 950px;
}

.intro,
.game-over {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.intro p,
.game-over p {
  margin-bottom: 10px;
}

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  white-space: pre;
}

.metro-map {
  flex: 1 0 70%;
}

.metro-controls {
  display: flex;
  flex: 1 0 30%;
  flex-direction: row;
  width: 100%;
}

.metro-controls > * {
  padding: 5px;
}

.station__center {
  color: #0d0a05;
}

.station:hover .station__center {
  color: #ffaa22;
  cursor: pointer;
}

.station.afflicted,
.station.afflicted .station__center,
.station:hover.afflicted .station__center {
  color: #ff5522;
}

.event--serious,
.station.afflicted--serious,
.station.afflicted--serious .station__center,
.station:hover.afflicted--serious .station__center {
  color: red;
}

.event--repairs,
.station.repairing,
.station.repairing .station__center,
.station:hover.repairing .station__center {
  color: green;
}

.lines {
  width: 15%;
}

.time {
  width: 20%;
}

.events {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  overflow: hidden;
  width: 65%;
}

.button {
  background-color: #ffaa22;
  color: #0d0a05;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}
