body {
  align-items: center;
  background-color: black;
  color: #ffaa22;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  justify-content: center;
  white-space: pre;
}

.game {
  display: flex;
  flex-direction: column;
}

.metro-map {
  flex: 1 0 70%;
}

.metro-controls {
  flex: 1 0 30%;
}

.station {

}

.station__center {
  color: black;
}

.station:hover .station__center {
  color: #ffaa22;
  cursor: pointer;
}

.afflictions {
  overflow-y: scroll;
}
